body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}
:root {
  --brand-color: #2196f3;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
}
.logo-web {
  color: var(--brand-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--brand-color);
}
